#Blackjack{
    background-color: white;
    border-style: solid;
    margin: auto;
    width: 30%;
    padding: 20px;
    border-radius: 20px;
}

.button1{
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    color: black;
    padding: 15px 32px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: fixed;
    left: 45%;
    top: 40%;
}

.button2{
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    color: black;
    padding: 15px 32px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: fixed;
    left: 45%;
    top: 50%;
}

.button3{
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    color: black;
    padding: 15px 32px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: fixed;
    left: 45%;
    top: 60%;
}

.back{
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    color: black;
    padding: 15px 32px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: fixed;
    left: 5%;
    top: 90%;
}

.input1{
    border-style: solid;
    border-color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    left: 45%;
    top: 40%;
}

.input2{
    border-style: solid;
    border-color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    left: 45%;
    top: 50%;
}

.input3{
    border-style: solid;
    border-color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    left: 45%;
    top: 60%;
}

.input4{
    border-style: solid;
    border-color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    left: 45%;
    top: 70%;
}

.submit{
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    color: black;
    padding: 15px 32px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: fixed;
    left: 47%;
    top: 60%;
}

.submit2{
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    color: black;
    padding: 15px 32px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: fixed;
    left: 47%;
    top: 80%;
}



#username{
    background-color: white;
    border-style: solid;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    width: 6%;
    height: 3%;
    padding: 20px;
    position: fixed;
    left: 35%;
    top: 37%;
}



#password{
    background-color: white;
    border-style: solid;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    width: 6%;
    height: 3%;
    padding: 20px;
    position: fixed;
    left: 35%;
    top: 47%;
}

#re-password{
    background-color: white;
    border-style: solid;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    width: 11%;
    height: 3%;
    padding: 20px;
    position: fixed;
    left: 30%;
    top: 57%;
}

#mem-info{
    background-color: white;
    border-style: solid;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    width: 13%;
    height: 3%;
    padding: 20px;
    position: fixed;
    left: 28%;
    top: 67%;
}

#table{
    background-color:green;
    border-style: solid;
    border-radius: 200px;
    border-color:saddlebrown;
    border-width: 10px;
    height: 400px;
    width: 60%;
    position: fixed;
    left: 20%;
    top: 30%;
}

#midbox{
    border-style: solid;
    border-color: black;
    height: 80px;
    width: 40%;
    position: fixed;
    left: 30%;
    top: 47%;
    color: gold;
    text-align: center;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}

.buttonstay{
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    color: black;
    padding: 15px 32px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: fixed;
    left: 33%;
    top: 60%;
}

.buttonhit{
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    color: black;
    padding: 15px 32px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: fixed;
    left: 40%;
    top: 60%;
}

.buttondeal{
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 50%;
    color: black;
    padding: 15px 32px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: fixed;
    left: 37%;
    top: 60%;
}